.container{
    margin: auto;
    background-color: lightgrey;
    width: 740px;
    height: 240px;
}

.checked{
    color: rgb(255, 183, 0);
}

/* .fa{
    font-size:initial;
} */

.fa-star{
    font: normal normal normal 14px / 1 FontAwesome;
    font-size: 150px;
}