* {
    box-sizing: border-box;
    background-color: grey;
}

body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 70%;
    height: 100vh;
    margin: auto;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: white;
}

.board {
    position: relative;
    width: 80vmin;
    height: 80vmin;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 2px;
    background-color: #ddd;
}

.top_left, .top_right, .bottom_left, .bottom_right {
    background-color: #ff0000; /* Red for player sections */
}

.top_left {
    grid-column: 1;
    grid-row: 1;
}

.top_right {
    grid-column: 4;
    grid-row: 1;
}

.bottom_left {
    grid-column: 1;
    grid-row: 4;
}

.bottom_right {
    grid-column: 4;
    grid-row: 4;
}

.center_area {
    grid-column: 2 / span 2;
    grid-row: 2 / span 2;
    background-color: #008000; /* Green for center area */
}
