<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>Welcome to home page</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis
      repellat blanditiis quasi dolorem nobis quaerat, in cum unde tenetur,
      laudantium, pariatur inventore! Saepe!
    </p>
    <button>Submit</button>
  </body>
</html>
